// COLORS
$color-white: #ccd6f7;
// Color Scheme Source: https://depositphotos.com/279262256/stock-illustration-vector-neon-cyber-font-and.html
$color-black: #010215;
$color-primary: #05d9e8;
$color-primary-light: #d1f7ff;
$color-primary-dark: #005678;
$color-primary-dark-3: #112240;
$color-primary-dark-2: #01012b;

$color-secondary: #ff2a6d;
$color-yellow: #fcee33;
$color-purple: #823180;
// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

$max-width: 1120px;

// RESPONSIVE BREAKPOINTS

$bp-l: 62.5em; // 1000px
$bp-m: 56.25em; // 900px

// ANIMATIONS
$animate-greeting: moveIn 1s ease 0.2s;
$animate-h1: animateHeading1 2s ease 1s;
$animate-nav: animateVisible 1s ease 2.5s;
$animate-selfin: moveIn 1s ease 2.5s;
