.card {
  height: 43rem;
  border: 5px solid $color-secondary;
  border-bottom: 3rem solid $color-secondary;

  overflow: hidden;
  // box-shadow: 1rem 1rem 0rem rgba($color-secondary, 0.5);
  background-color: $color-white;
  clip-path: polygon(
    0 0,
    100% 0%,
    100% 2rem,
    100% 100%,
    2rem 100%,
    0 calc(100% - 2rem)
  );
  &__img {
    background-size: cover;
    height: 20rem;
    width: 100%;
    background-blend-mode: soft-light;
    display: block;
    // clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    // -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    // border-top-left-radius: 2px;
    // border-top-right-radius: 2px;
    transition: all 0.3s;

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary-dark,
          $color-primary-light
        ),
        url(../../img/projects-Cocktell-desktop.png);
    }
  }
  &__content {
    // height: 35rem;
    background-color: $color-primary-dark-3;
    transition: all 0.3s;
    color: $color-white;
    font-size: 1.6rem;
    // padding: 1rem 2rem;
    // border-top: 2px solid $color-secondary;
    clip-path: polygon(
      0 4rem,
      60% 4rem,
      70% 0,
      100% 0,
      100% 60%,
      100% 100%,
      0 100%
    );
    transform: translateY(-4.5rem);
  }
  &:hover &__content {
    transform: translateY(-15rem);
  }
  &:hover &__img {
    transform: scale(1.05);
    filter: blur(3px) brightness(80%);
  }
  // CARD CONTENT
  &__info {
    height: 25rem;
  }
  &__heading {
    // letter-spacing: 1px;
    background-color: $color-primary;
    color: $color-white;
    text-align: right;
    font-size: 2rem;
    // color: $color-primary;
    font-weight: 500;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
  }
  &__techs {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0.5px;

    color: $color-primary-light;
    display: block;
    margin-bottom: 0.5rem;
  }
  &__descriptions {
  }
  &__buttons {
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0rem 2rem;
  }
}
