.mb-s {
  margin-bottom: 3rem !important;
}
.mb-m {
  margin-bottom: 6rem !important;
}
.mb-l {
  margin-bottom: 8rem !important;
}

.mt-s {
  margin-top: 3rem !important;
}
.mt-m {
  margin-top: 6rem !important;
}
.mt-l {
  margin-top: 8rem !important;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
